{% extends 'buzzytemplates/base.html' %}
{% load static %}
{% block title %}
Login
{% endblock title %}

{% block buttons %}
<div class="d-flex" role="button">
    <a class=" btn btn-success mx-2 " href="{% url 'register' %}">Sign Up</a>
    <a class=" btn btn-primary" href="{% url 'login' %}">Log In</a>
</div>
{% endblock buttons %}




{% comment %} body content {% endcomment %}

{% block content %}


<div class="container h-100 text-center ">
    <div class="mt-4">

     

        {% comment %} show success messages {% endcomment %}


        {% for msg in messages %}
        <div class="alert alert-success" role="alert" id="alert">
            <h4 {% if msg.tags %} class=" {{ msg.tags }}  alert-heading" {% endif %}>{{ msg }}</h4>
        </div>
        {% endfor %} 

        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                        <div class="card" style="border-radius: 1rem;">
                            <div class="row g-0">
                                <div class="col-md-6 col-lg-5 d-none d-md-block">
                                    <img src="https://images.pexels.com/photos/4792733/pexels-photo-4792733.jpeg?auto=compress&cs=tinysrgb&w=500"
                                        alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                                </div>
                                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">

                                        <form id ="loginform" action="" method="POST" novalidate>
                                            {% csrf_token %}

                                            <div class="d-flex align-items-center mb-3 pb-1">
                                                <img src="https://images.pexels.com/photos/19308356/pexels-photo-19308356/free-photo-of-laptop-on-sofa.jpeg?auto=compress&cs=tinysrgb&w=600" alt="logo"
                                                    class="profile-img text-warning">
                                                    
                                            </div>

                                            <h5 class="fw-bold mb-3 pb-3 " style="letter-spacing: 1px;">Log In to your
                                                account</h5>


                                            <div class="form-group justify-content-center">
                                                <label for="usernameinput" class="fw-bold">Username</label>
                                                <input type="text" class="form-control w-50 m-auto" id="usernameinput" placeholder="username" name='username'  required>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="fw-bold">Password</label>
                                                <input type="password" class="form-control w-50 m-auto" id="exampleInputPassword1" placeholder="Password" name='password'  required>
                                            </div>
                                           

                                            <div class="pt-1 mb-4">
                                                <input type="submit" value="Log In"
                                                    class="btn btn-dark btn-lg btn-block">
                                            </div>

                                        </form>

                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a
                                                href="{% url 'register' %}">Register Here.</a></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>



<script>
    document.getElementById("loginform").addEventListener("submit", function (event) {
        var form = event.target;
      

        if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
        }

        form.classList.add("was-validated");
    });
</script>

    
{% endblock content %}